@font-face {
    font-family:Epilogue ;
    src: url(font/Epilogue-Black.ttf) format(ttf);
}

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:Epilogue ;
   
}


.log{
    color: black;
    text-decoration: none;
}
.img{
    width: 100%;
    height: 100%;
}
.p{
    font-size: 18px;
}
.gray{
    color:#828282;
    
}
.h1{
    font-weight: 700;
    font-size: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.h11{
    display: none;
}
.br{
    border-radius: 10px;

}
@media only screen and (max-width:768px) {
    .h11{
        display: block;
        font-size: 2rem!important;
        text-align: center!important;
        font-weight: 700;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    }
    .div1{
        flex-direction: column;
        display: block;
    }
    .icon{
        display: flex;
        justify-content: space-around;
    }
   
   
   .bs{
       margin-left: auto;
   }
    .h1{
        display: none;
    }
    .p{
        text-align: center;
    }
}